.section-banniere {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    width: 100%;
    box-shadow: inset 0px 3px 3px 0px rgba($shadow, $alpha, 0.3);
}

.section-banniere i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-banniere h3 {
    font-size: 20px;
    font-family: $text-font;
}

.fa-location-dot {
    width: 30px;
    height: 30px;
}