.section-restaurant{
    width: 100%;
    margin-top: 50px;
    background-color: #F7F7F7;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.titre-section-restau{
    padding-top: 30px;
    font-size: 24px;
    padding-left: 5%;
    box-sizing: border-box;
}

.conteneur-card-restau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-restau{
    width: 100%;
    height: 250px;
    display: flex;
    margin: 18px 0px;
    padding-left: 14px;
    padding-right: 15px;
    border-radius: 20px;
    text-decoration: none;

}

.etiquette-nouveau{
    position: absolute;
    top: 14px;
    right: 12px;
    background:#99E2D0 ;
    color: #018766;
    height: 20px;
    width: 66.2px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-restau figure{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #E7E7E7;
}

.image-carte-section-restaurant{
    margin: 0;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}
.section-restaurant figcaption{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.conteneur-texte{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}
.conteneur-coeur{
    height: 95%;
    width: 10%;
    align-items: center;
    margin-top: 5%;

}
.conteneur-texte  h4{
    margin: 0;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}
.conteneur-texte  p{
    color: black;
    font-weight: 400;
    margin: 0;

}

.heart {
    position: relative;
    width: 50px;
    height: 50px;
}

.fa-heart {
    position: absolute;
    top: 10%;
    right: 20%;
}

.far{
    font-size: 28px;
    color: black;
    padding-right: 10px;
    font-weight: 50;
}

.fas {
    color: transparent;
    background-image: linear-gradient(to top, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
    padding-right: 10px;
    font-size: 28px;


}

.fas:hover {
   opacity: 1;
   transform: scale(1.2);
}

@media screen and (min-width: 768px) {
    .conteneur-card-restau {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .card-restau{
        width: 45%;
        height: 250px;
        display: flex;
        margin: 18px 0px;
        padding-left: 14px;
        padding-right: 15px;
        border-radius: 20px;
        text-decoration: none;
    }
}
