.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 63px;
}

.header_menu .titre {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  position: absolute;
  padding-bottom: 10px;
}

.logo_menu {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 100px;
  width: 7.2%;
  padding-right: 15%;
  position: absolute;
  left: 5%;

}

.logo_menu .titre {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  position: absolute;
  padding-bottom: 10px;
}

.img-menu {
  object-fit: cover;
  height: 383px;
}

.liste_menu {
  height: auto;
  width: 100%;
  z-index: 1;
}

.liste_menu .img-menu {
  height: 275px;
  width: 100%;
}

.titre-menu {
  display: flex;
  height: 80px;
  align-items: center;
  position: relative;
  margin-top: -55px;
  z-index: 2;
  background-color: white;
  border-radius: 3rem 3rem 0 0;
  background: #F7F7F7;
}

.titre-menu h1 {
  width: 80%;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  padding-left: 15px;
  padding-top: 21px;
}

.layout-star {
  height: 355px;
  width: 30px;
  margin: 0;
  position: absolute;
  top: -2%;
  left: 91%;
}

.menus {
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menus .articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  background-color: #F6F6F6;
  border: none;
}

.entrees,
.plats,
.desserts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  justify-content: center;
}

.meal_title {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  width: 100%;
  padding-left: 20px;
}

.meal_title.underline::after {
  content: "";
  display: flex;
  justify-content: flex-start;
  width: 10%;
  height: 2px;
  background-color: #99E2D0;
  margin: 10px 0 0;
}

.article-menu {
  display: flex;
  background-color: white;
  width: 90%;
  height: 69px;
  border-radius: 1rem;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  background-color: white;
  position: relative;
  margin-bottom: 10px;
}

.article-menu .description {
  width: 88%;
  transition: all 0.5s ease-in-out;
}

.article-menu .prix {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  font-size: 15px;
  font-weight: 700;
}

.article-menu .prix p {
  padding-top: 20px;
  margin-right: 10px;

}

.article-menu:hover .description {
  width: 65%;
  transition: all 0.5s ease-in-out;
}

.choix-selectionne {
  width: 50px;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -50px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 3;
}

.article-menu:hover .choix-selectionne {
  margin: 0;
}

.article-menu .choix-selectionne i {
  color: white;
}

.article-menu:hover .choix-selectionne i {
  animation: spin 1s;
}

.articles h4 {
  margin: 0;
  padding: 12px 0 0 10px;
  width: 100%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.articles p {
  margin: 0;
  padding: 0 0 0px 10px;
  width: 100%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marge {
  margin: 40px auto 40px auto;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.article-menu {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

#article_1 {
  animation-delay: 0.3s;
}

#article_2 {
  animation-delay: 0.5s;
}

#article_3 {
  animation-delay: 0.7s;
}

#article_4 {
  animation-delay: 0.9s;
}

#article_5 {
  animation-delay: 1.1s;
}

#article_6 {
  animation-delay: 1.3s;
}

#article_7 {
  animation-delay: 1.5s;
}

#article_8 {
  animation-delay: 1.7s;
}

#article_9 {
  animation-delay: 1.9s;
}

#article_10 {
  animation-delay: 2.1s;
}

/* Et ainsi de suite pour les autres éléments */



//animations

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .menus .articles {
    width: 100%;
  }

  .titre-menu {
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }

  .titre-menu h1 {
    display: inline-block;
    width: auto;
  }

  .meal_title {
    padding-left: 20%;
  }

  .article-menu {
    width: 60%;
  }

  .layout-star {
    position: relative;
    height: 62px;
    top: auto;
    right: auto;
    left: auto;
    display: flex;
    align-items: flex-end;
    padding-bottom: 12px;
    padding-left: 3%;
  }

  .sub {
    top: auto;
    right: auto;
    position: absolute;
  }
}